<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ASD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E7DDE2781D8E25ED00C11194</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7DDE2941D8E25EE00C11194</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7DDE29F1D8E25EE00C11194</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
